<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
   <connectionStrings>
      <add name="ConexionBaseDeDatosSalto" connectionString="Data Source=ctc-sv126;Initial Catalog=softwaresalto;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"/>
      <add name="ConexionBaseDeDatosIdinet" connectionString="Data Source=CTC-SV136;Initial Catalog=Idinet_Contenido;Persist Security Info=True;User ID=UsuarioConsultaLectura;Password=FadaFutuver18*"/>

   </connectionStrings>
</configuration>